:root{
    --color-zero: #fff;
    --color-first: #ea586d;
    --color-second: #fffcee;
    --color-third: #3a4042;
    --color-third-light: rgba(58, 64, 66, 0.4);

    
    --size-small: 20px;
    --size-big: 30px;
    --size-huge: 45px;
}