.form-zerfilos {
    width: 80vw;
}

.form-zerfilos .label {
    display: block;
    position: relative;
}

.form-zerfilos .label:not(:last-of-type) {
    margin-bottom: var(--size-big);
}
.form-zerfilos .label::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--color-first);
    transform: scaleX(0);
    transition: transform 350ms linear;
}
/* -focus caso o navegador não suporte focus-within */
.form-zerfilos .label:focus-within::after,
.form-zerfilos .label:hover::after,
.form-zerfilos .label.-focus::after {
    transform: scaleX(1);
}

.form-zerfilos .title {
    display: block;
    text-align: center;
    margin-bottom: 6px;
}

.form-zerfilos .subtitle {
    font-size: 14px;
    display: block;
    font-weight: bold;
    text-align: center;
    color: var(--color-first);
    margin-bottom: var(--size-big);
}

.form-zerfilos .inputTxt {
    width: 100%;
    margin-bottom: var(--size-huge);
    display: block;
    height: 2em;
    font-weight: bold;
    border-bottom: solid var(--color-third) 2px; 
    background: transparent;
}
.form-zerfilos .inputTxt::selection {
    background-color: var(--color-first);
    color: var(--color-zero);
}

.form-zerfilos .checkBoxes {
    display: flex;
}

.form-zerfilos .checkBoxes .wraper {
    position: relative;
    margin-right: var(--size-small);
    transition: opacity 300ms linear;
}
.form-zerfilos .checkBoxes .wraper.-vibrationIn {
    animation: vibrationIn 500ms linear;
}
.form-zerfilos .checkBoxes .wraper.-vibrationOut {
    animation: vibrationOut 500ms linear;
}
.form-zerfilos .checkBoxes .wraper.-remove {
    opacity: 0;
}

.form-zerfilos .checkBoxes .inputBox {
    display: none;
}

.form-zerfilos .checkBoxes .labelBox {
    display: inline-block;
    font-size: 18px;
    padding: 8px;
    background-color: var(--color-third-light);
    cursor: pointer;
    /*animation: vibrationOut 500ms linear; */
}
.form-zerfilos .checkBoxes .labelBox::selection {
    background-color: transparent;
}
.form-zerfilos .checkBoxes .inputBox:checked + .labelBox {
    background-color: var(--color-first);
    color: var(--color-zero);
   /* animation: vibrationIn 500ms linear; */
}

.form-zerfilos .checkBoxes .wraper .remove {
    position: absolute;
    top: 3px;
    right: -7px;
    width: 16px;
    height: 16px;
    padding: 1px;
    text-align: center;
    line-height: 18px;
    background-color: var(--color-third);
    color: var(--color-zero);
    transform: translateY(-50%);
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 100ms linear;
}
.form-zerfilos .checkBoxes .wraper .remove:hover,
.form-zerfilos .checkBoxes .wraper .remove:focus{
    transform: translateY(-50%) scale(1.2);
}
.form-zerfilos .checkBoxes .wraper .remove::selection {
    background-color: transparent;
}

@keyframes vibrationIn {
    33%{ transform: rotate(10deg); }
    66%{ transform: rotate(-10deg); }
    100% { transform: rotate(0); }
}

@keyframes vibrationOut {
    33%{ transform: rotate(-10deg); }
    66%{ transform: rotate(10deg); }
    100% { transform: rotate(0); }
}